# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [1]:
number = 6

print(number)

6

##### Assinging float

In [8]:
numberFloat = 2.3
print(numberFloat)
numberFloat = 7.2
print(numberFloat)

2.3
7.2

#### Performing Calculations on ints and floats

##### Addition

In [13]:
num1 = 2
num2 = 5.4

result = num1 + num2
print(result)

#result += 2
print(result + 2)

7.4
9.4

##### Subtraction

In [14]:
result_diff = num2 - num1
print(result_diff)

3.4000000000000004

##### Multiplication

In [16]:
result_mul = num1 * num2
print(result_mul)

result_mul *= 2
print(result_mul)

10.8
21.6

##### Division

In [18]:
result_div = num2 / num1
print(result_div)

result_div /= 3
print(result_div)

2.7
0.9

##### Floor Division

In [20]:
result_floor = num2 // num1
print(result_floor)

2.0

##### Modulo

In [23]:
result_mod = 13 % 2
print(result_mod)

result_mod %= 2
print(result_mod)

1
1

##### Exponential

In [25]:
square = 5 ** 2
print(square)

square **=2
print(square)

25
625

### String Input-Output

##### String Assignment

In [27]:
name = "Kelly"
print(name)

Kelly

##### print() <br>
<p>Don't forget about end=' '</p>

In [32]:
print("This is my first name:", name)

print("Full Name:", name, end=" Karner")

This is my first name: Kelly
Full Name: Kelly Karner

##### String Concatenation

In [36]:
first_name = "Kelly"
last_name = "Karner"
full_name = first_name + " " + last_name
print(full_name)

full_name += ", Jr"
print(full_name)

Kelly Karner
Kelly Karner, Jr

##### Type Conversion

In [38]:
number = "32"
change_type_num = int(number)
print(number)
print(change_type_num + 1)

32
33

##### input()

In [46]:
name = input("What is your name?")
print("Nice to meet you, " + name)

age = int(input("What is your age?"))
add_age = age + 5
print(add_age)

What is your name?Kelly
Nice to meet you, Kelly
What is your age?39
44

##### format()

In [49]:
age = input("What is your age? ")

result_string = "You are {} {} and you are getting wiser!".format(age,name)
print(result_string)

result_again = f"{age} is a great time in life!"
print(result_again)

What is your age? 39
You are 39 Kelly and you are getting wiser!
39 is a great time in life!

##### Old Way (python 2)

In [50]:
result_string2 = "You are %s and you look great for your age!" %age
print(result_string2)

You are 39 and you look great for your age!

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [51]:
color = input("What is the color of your car? ")
year = input("What is the year of your car? ")
make = input("What is the make of your car? ")
model = input("What is the model of your car? ")
print(f"You have a {year} {color} {make} {model}.")

What is the color of your car? black
What is the year of your car? 2011
What is the make of your car? Subaru
What is the model of your car? Forester
You have a 2011 black Subaru Forester.

### If Statements

In [66]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)

# Truth Tree:
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F

num1 = 5
num2 = 10
num3 = 0

#if num1 == num2:
#    print("Equal Values")
#else:
#    print("Not equal")
    
if num2 > num1 or num3 > 0:
    print("Num2 is greater")
elif num1 > num2:
    print("Num1 is greater")
else:
    print("Equal Values")

Num2 is greater

##### 'is' keyword

In [68]:
# 'is' keyword is for checking for the same object, but not the same value

num3 = 55
if num3 == 55:
    print("This is the exact number/object")

This is the exact number/object

##### 'in' keyword

In [73]:
# checks if a character is in a string

char_name = "Frodo Baggins"
if "Frodo" in char_name:
    print("The ring bearer")

The ring bearer

##### 'not in' keyword'

In [74]:
sega_char = "Sonic"
if 'a' not in sega_char:
    print('a is NOT here')

a is NOT here

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [81]:
answer = input("Who picked pickled peppers?")
if 'p' in answer.lower():
    print("There is a p")
else: 
    print("There is NOT a p")

Who picked pickled peppers?Kelly Karner
There is NOT a p

## Using 'and'/'or' with If Statements

In [82]:
num_11 = 15
num_12 = 3
num_13 = 10
num_14 = 3

if num_11 / 5 == num_12 and num_13 - 7 == num_14:
    print("True and True")
    
if num_11 > num_12 or num_13 == num_14:
    print("True and False")

True and True
True and False

### Elif Statements

In [88]:
first_name = input("What is your name? ")

if first_name == "Smith":
    print("The name is Smith")
elif first_name == "Brandon":
    print("The name is Brandon")
elif first_name != "Max":
    print("The name is not Max")
else:
    print("The name is Max")

What is your name? Kelly
The name is not Max

### Else Statements

In [ ]:
# see above

### For Loops

In [90]:
# Syntax:
# for counter in condition

name = "Kelly Karner"
a_list = [1, 2, 3, 4]

for letter in name:
    print(letter)
    
for i in a_list:
    print(i)

K
e
l
l
y

K
a
r
n
e
r
1
2
3
4

##### Using 'in' keyword

In [ ]:
# see above

##### Continue Statement

In [ ]:
# will continue to next iteration

In [92]:
# 'continue' doesn't stop the for loop, it just skips to the next 

for i in range(20):
    if i == 5:
        continue
    print(i)

0
1
2
3
4
6
7
8
9
10
11
12
13
14
15
16
17
18
19

##### Break Statement

In [ ]:
# will break out of current loop

In [93]:
for i in range(20):
    if i == 5:
        break
    print(i)

0
1
2
3
4

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

In [ ]:
for i in name:
    pass

##### Double For Loops

In [94]:
for i in range(5):
    for j in range(5):
        print("i = ", i, "j= ", j)

i =  0 j=  0
i =  0 j=  1
i =  0 j=  2
i =  0 j=  3
i =  0 j=  4
i =  1 j=  0
i =  1 j=  1
i =  1 j=  2
i =  1 j=  3
i =  1 j=  4
i =  2 j=  0
i =  2 j=  1
i =  2 j=  2
i =  2 j=  3
i =  2 j=  4
i =  3 j=  0
i =  3 j=  1
i =  3 j=  2
i =  3 j=  3
i =  3 j=  4
i =  4 j=  0
i =  4 j=  1
i =  4 j=  2
i =  4 j=  3
i =  4 j=  4

### While Loops

In [95]:
# Syntax:
# while keyword, condition statement

num = 0
while num < 10:
    print(num)
    num += 1

0
1
2
3
4
5
6
7
8
9

##### Looping 'While True'

In [98]:
# don't do

game_over = True

while game_over:
    print("Infinite Loop")
    user_input = input("Would you like to stop? ")
    if user_input == "Yes":
        game_over = False

Infinite Loop
Would you like to stop? no
Infinite Loop
Would you like to stop? no
Infinite Loop
Would you like to stop? no
Infinite Loop
Would you like to stop? Yes

##### While & For Loops Used Together

In [103]:
num = 0

while num < 5:
    print("\nWhile loop iteration: " + str(num))
    
    for i in range(2):
        print("For loop iteration: " + str(i))
    
    num += 1

While loop iteration: 0
For loop iteration: 0
For loop iteration: 1

While loop iteration: 1
For loop iteration: 0
For loop iteration: 1

While loop iteration: 2
For loop iteration: 0
For loop iteration: 1

While loop iteration: 3
For loop iteration: 0
For loop iteration: 1

While loop iteration: 4
For loop iteration: 0
For loop iteration: 1

### Built-In Functions

##### range()

In [108]:
# range(Start, Stop, Step)

for i in range(1,11):
    print(f"You have {i} dollars.")

You have 1 dollars.
You have 2 dollars.
You have 3 dollars.
You have 4 dollars.
You have 5 dollars.
You have 6 dollars.
You have 7 dollars.
You have 8 dollars.
You have 9 dollars.
You have 10 dollars.

##### len()

In [114]:
name = input("Give me your favorite book name: ")
length = len(name)
print(length)

Give me your favorite book name: Still Life With Woodpecker
26

##### help()

In [121]:
# use to view more info about a python function

help(abs)

Help on built-in function abs in module builtins:

abs(x, /)
    Return the absolute value of the argument.

##### isinstance()

In [125]:
# check a variable to find out what object family or data type it belongs to
# isinstance(var, type)

print(isinstance(4.5, int))
if isinstance(4.5, float):
    print("This number is a float type.")

False
This number is a float type.

##### abs()

In [126]:
print(abs(-5))

5

### Try and Except

In [136]:
# use this to log out useful error messages
# doesn't stop the program

try:
    number_test = 0
    input_num = int(input("Guess a number "))
    if input_num == input_num + number_test:
        input_num = input_num + number_test
        print("Your number is: " + str(input_num))
except:
    print("That didn't work! Change your input to a number!")

Guess a number 234
Your number is: 234

### Lists

##### Declaring Lists

In [142]:
list_1 = []
names = ["Max", "Cindy", "Kathy", "bob", "Nate"]
print(names)

['Max', 'Cindy', 'Kathy', 'bob', 'Nate']

##### Indexing a List

In [151]:
# list_name(start: stop: step)
# Single Index
print(names[1])

# Print starting at index 1 going to the end
print(names[1:])

# Print starting at the beginning of a list up until a number
print(names[:2])

# Print starting at index 1 and going up by 2
print(names[1::2])

# Print starting at the back and display in reverse order
print(names[::-1])

Cindy
['Cindy', 'Kathy', 'bob', 'Nate']
['Max', 'Cindy']
['Cindy', 'bob']
['Nate', 'bob', 'Kathy', 'Cindy', 'Max']

##### .append()

In [169]:
names.append("Kelly")
print(names)

['Max', 'Cindy', 'Kathy', 'bob', 'Nate', 'Kelly']

##### .insert()

In [170]:
names.insert(2, "Woody")
print(names)

['Max', 'Cindy', 'Woody', 'Kathy', 'bob', 'Nate', 'Kelly']

##### .pop()

In [178]:
# Defaults to last value if no value if no parameter is given

names = ["Max", "Cindy", "Kathy", "bob", "Nate", "Kelly"]
names.pop()
print(names)

['Max', 'Cindy', 'Kathy', 'bob', 'Nate']


##### .remove()

In [182]:
# Value to be removed rather than index

#names.remove("bob")
#print(names)

# remove multiple values from list
names.append("Cindy")
names.append("Cindy")
print(names)

while "Cindy" in names:
    names.remove("Cindy")
print(names)

['Max', 'Cindy', 'Kathy', 'Nate', 'Cindy', 'Cindy', 'Cindy', 'Cindy']
['Max', 'Kathy', 'Nate']

##### del()

In [183]:
# Goes by index, rather than value
# Be careful, it can cause indexing errors if not used carefully

del(names[1])
print(names)

['Max', 'Nate']

##### Concatenating Two Lists

In [190]:
# This will append two lists together, will NOT add the values

numbers1 = [0, 1, 2]
numbers2 = [3, 4, 5]
all_the_numbers = numbers1 + numbers2
print(all_the_numbers)

[0, 1, 2, 3, 4, 5]

##### Lists Within Lists

In [ ]:
# Lists can hold any type of other element or data type, including other lists
# They can go as deep as you want; this is called nested lists

names = ["Max", "Sam", "Josh", ["Sally", "Sue", "Tameka"]]
print(names)
print(names[3][1])

##### Looping Through Lists

In [192]:
# Two ways to loop through a list
# One is by index
# The other is by using the 'in' keyword

# By Index
for i in range(len(names)):
    print(names[i])

# Loop with 'in'
for i in names:
    print(i)

Max
Sam
Josh
['Sally', 'Sue', 'Tameka']
Max
Sam
Josh
['Sally', 'Sue', 'Tameka']

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [ ]:
num = 1

while num ** 3 <= 1000:
  cubed = num ** 3
  print(cubed)
  num += 1

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [ ]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break

for num in range(1, 101):
    if num > 1:
      for i in range(2, num):
        if (num % i) == 0:
          break
      else:
        print(num)

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [ ]:
age = int(input("How old are you? "))

if age < 18:
  print("kids")
elif age <= 65:
  print("adults")
else:
  print("seniors")